#Corvee {
    margin-top: 20px;
}

#besturing{ 
    margin-top: 20%;
}
.btn-arrow-right{
    margin-left: 75%;
    background-color: green;
}

.btn-arrow-left{
    margin-left: 5%;
    background-color: red;
}

